<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.1">
<dict>
  <key>CFBundleIdentifier</key>
  <string>io.zzv.view</string>
  <key>CFBundleVersion</key>
  <string>CFBundleVersionPlaceHolder</string>
  <key>CFBundleShortVersionString</key>
  <string>1.1</string>
  <key>CFBundleExecutable</key>
  <string>Zzv-view</string>
  <key>CFBundleName</key>
  <string>Zzv-view</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.utilities</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
      <string>MacOSX</string>
  </array>
  <key>com.apple.security.app-sandbox</key>
  <true/>
  <key>CFBundleIconName</key>
  <string>AppIcon</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.2.1</string>
  <key>NSHumanReadableCopyright</key>
  <string>Created by ZZV. Copyright © 2021 HTU LLC. All rights reserved.</string>
</dict>
</plist>
